@import "tailwindcss";

@layer base {
  :root {
    --background: #E3E1DB; /* Fond */
    --foreground: #463738; /* Secondaire (Textes) */
    --primary: #F26322; /* Primaire (Boutons, Actions) */
    --accent: #9A9750; /* Accents (Validation) */
    --neutral: #A39D98; /* Neutres */
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.modal-content-scroll::-webkit-scrollbar {
  width: 4px;
}